h1 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    width: 950px;
    
  }
  h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  h3 {
    margin-top: 13px;
    width: 542px;
    font-size: 30px;
    line-height: 41px;
  }
.block-basic {
    width: 1150px;
    margin: 0 auto;
    padding-top: 69px;
  }
  
  .chair-body {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url("../resources/styl-ebal.png");
    background-size: center;
    margin-bottom: 150px;
  }
  .chair-body-text p {
    position: absolute;
  
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
  
    left: 40px;
    bottom: 40px;
    width: 430px;
    height: 81px;
    color: white;
    text-align: left;
  }
  .container-info-about-us {
    width: 1048px;
    height: 367px;
  
    font-size: 45px;
    line-height: 61px;
    margin-left: 2px;
    margin-bottom: 30px;
    color: #121212;
  }
  .button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 255px;
    height: 67px;
    border: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background: #ad1818;
    cursor: pointer;
    margin-bottom: 150px;
  }
  .button p {
    margin-top: 20px;
    margin-left: 40px;
    width: 175px;
    height: 27px;
    flex: 0;
    font-size: 20px;
    line-height: 27px;
  
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .item {
    width: 100%;
    height: auto;
    margin-bottom: 78px;
  }
  .item img {
    width: 100%;
    height: 450px;
  }
  .item a {
    width: 127px;
    height: 27px;
    font-size: 21px;
    line-height: 54px;
    letter-spacing: -0.05em;
    color: #ad1818;
    text-decoration: none;
  }
  .button-project {
    display: block;
    flex-direction: row;
    text-decoration: none;
    color: #ad1818;
    background: white;
    cursor: pointer;
    height: 153px;
    width: 100%;
    margin-bottom: 150px;
    border: 1px solid #ad1818;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    line-height: 153px;
  }
  a.button-project :hover {
    background-color: #ad1818;
    color: white;
  }
  @media (max-width: 1199px) {
    .block-basic {
      width: 100%;
      padding-top: 73px;
      padding-left: 17px;
      padding-right: 15px;
    }
    .chair-body-text p {
      bottom: 30px;
    }
    .chair-body {
      height: 400px;
      margin-bottom: 120px;
      background-size: cover;
      background-position: 50%;
    }
    h1 {
      width: 100%;
      font-size: 50px;
      line-height: 60px;
    }
    .container-info-about-us {
      width: 690px;
      height: auto;
      font-size: 35px;
      line-height: 48px;
    }
    .button {
      margin-bottom: 120px;
    }
    .item{
      margin-bottom: 80px;
    }
    .item-last{
      margin-bottom: 102px;
    }
    .item img {
        height: 450px;
      object-fit: cover;
      object-position: 50%;
      
    }
    h3 {
      width: auto;
      margin-top: 15px;
      font-size: 25px;
      line-height: 34px;
    }
    .button-project{
      margin-bottom: 103px;
    }
  }
  @media (max-width: 767px) {
    .block-basic {
      padding-top: 61px;
      padding-left: 13px;
      padding-right: 12px;
    }
    .chair-body {
      height: 300px;
      margin-bottom: 80px;
    }
    h1 {
        width: 100%;
      font-size: 30px;
      line-height: 32px;
    }
    .chair-body-text p {
      left: 15px;
      bottom: 15px;
      height: auto;
      font-size: 16px;
      line-height: 22px;
      width: 80%;
    }
    h2 {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 20px;
    }
    .container-info-about-us {
      width: 100%;
      font-size: 22px;
      line-height: 30px;
    }
    .button {
      font-size: 16px;
      line-height: 22px;
      width: 194px;
      height: 51px;
      margin-bottom: 80px;
    }
    .button p {
      font-size: 16px;
      line-height: 22px;
      margin-top: 14.5px;
      margin-left: 27px;
    }
    .item{
      margin-bottom: 49px;
    }
    .item-last{
      margin-bottom: 60px;
    }
    .item img {
      height: 250px;
    }
    h3 {
      margin-top: 20px;
      font-size: 18px;
      line-height: 25px;
    }
    .item a {
      width: 101px;
      height: 22px;
      font-size: 16px;
      line-height: 22px;
    }
    .button-project{
      
      height: 100px;
      font-size: 22px;
      line-height: 100px;
      margin-bottom: 144px;
    }
  }