.footer {
  margin: 0 auto;
  width: 100%;
  background-color: #121212;
  text-align: center;
  padding-bottom: 30px;
}
.nav-footer {
  padding-top: 60px;
}
.nav-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 53px;
}
.nav-footer a {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.nav-footer p {
  display: inline-block;
}
.text-footer {
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 87px;
  
}
.nav-footer-active:hover {
  opacity: 0.5;
  margin-left: 0px;
}
@media (max-width: 767px) {
  .footer{
    padding-bottom: 26px;
  }
  .nav-footer {
    padding-top: 30px;
  }
  .nav-footer a {
    font-size: 12px;
    line-height: 16px;
  }
  .nav-block {
    gap: 30px;
  }
  .text-footer {
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    opacity: 0.5;
    margin-top: 41px;
  }
}
