.section-bed {
    width: 100%;
    min-width: 1400px;
    height: 717px;
    background-image: url("../resources/bed.png");
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  .container-bed {
    width: 1400px;
    height: 717px;
    position: relative;
    margin: 0 auto;
  }