@import "nav.css";
@import "section-services.css";
@import "section-gallery.css";
@import "contact.css";
@import "footer.css";
@import "block-basic.css";
@import "reviews.css";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  letter-spacing: -0.03em;
  font-weight: 400;
}
h1,
h2,
h3 {
  color: #121212;
}
h4,
h5,
h6 {
  color: #ffffff;
}
h2,
h3,
h4 {
  text-transform: uppercase;
}

h6 {
  line-height: 41px;
}
h4 {
  font-size: 19px;
  line-height: 24px;
  text-align: left;
  padding-bottom: 34px;
}
h6 {
  width: 443px;
  height: 82px;
  position: absolute;
  font-size: 30px;
  left: 125px;
  bottom: 60px;
  color: white;
  text-align: left;
}


